
* {
	margin: 0;
	padding: 0;
}
.wrap {
	width: 100%;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.banner {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	position: relative;
	a {
		color: #ffffff;
		background-color: #333333;
		text-transform: uppercase;
		font-size: 16px;
		padding: 13px 26px;
		text-align: center;
		box-sizing: border-box;
		font-family: "Fira Sans";
		font-weight: bold;
		letter-spacing: 2.5px;
		position: absolute;
		&:hover {
			text-decoration: none;
			color: #d6ba8d;
		}
	}
}
.right-banner {
	margin-left: auto;
}
.anh-banner {
	>a {
		top: 66%;
		left: 25%;
		transform: translateX(-54%);
	}
}
.under-banner {
	height: 100%;
	display: flex;
	box-sizing: border-box;
	text-align: center;
	width: 62%;
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
}
.under-banner-text {
	width: 33.33%;
	height: 100%;
}
.under-banner-text__top {
	.p1 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 10.5px;
		margin-left: 5px;
		margin-top: 1px;
		line-height: 25px;
	}
	.p2 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 0.5px;
		margin-left: 5px;
		margin-top: 1px;
		line-height: 25px;
	}
	.p3 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 22.5px;
		margin-left: 5px;
		margin-top: 1px;
	}
}
.under-banner-text__bot {
	h1 {
		font-family: 'Fira Sans';
		font-size: 14px;
		text-align: center;
		line-height: 0px;
	}
	h2 {
		font-family: 'Fira Sans';
		font-size: 14px;
		text-align: center;
		line-height: 0px;
		margin-right: 18px;
	}
}
.Its {
	width: 100%;
	height: 100%;
}
.Its-started {
	font-family: 'Cormorant Garamond';
	font-size: 34px;
	font-weight: Bolder;
	text-align: center;
	margin-top: 121px;
}
.product {
	margin-top: 121px;
	margin-bottom: 111px;
}
.product-top {
	max-width: 1720px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.product-top__left {
	justify-content: space-between;
	margin-right: 50px;
}
.product-top__middle {
	justify-content: space-between;
	margin-right: 50px;
}
.product-top__right {
	justify-content: space-between;
	margin-right: 50px;
}
.product-bot__left {
	justify-content: space-between;
	margin-right: 50px;
}
.product-bot__middle {
	justify-content: space-between;
	margin-right: 50px;
}
.product-bot__right {
	justify-content: space-between;
	margin-right: 50px;
}

.product-bot {
	max-width: 1720px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 50px;
}
.product-bot__img {
	justify-content: space-between;
	margin-right: 50px;
}
.main-content {
	width: 100%;
	height: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.main-content-feature {
	width: 100%;
	height: 100%;
	display: flex;
}
.main-content-feature__feature-item {
	font-family: 'Cormorant Garamond';
	font-size: 56px;
	font-weight: Bold;
}
.main-content-feature__view {
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: Bold;
	text-transform: uppercase;
	align-self: center;
	margin-left: auto;
	letter-spacing: 2px;
	margin-top: 30px;
	i {
		color: #d6ba8d;
		font-size: 14px;
		margin: 5px 8px;
	}
}
.introduce-product {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 28px;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.introduce-product-row1 {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}
.introduce-product-row2 {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
	margin-top: -5px;
}
.new-product {
	width: 100%;
	max-width: 300px;
	height: auto;
}
.new-product__img {
	margin: 30px;
	margin-left: auto;
}
.new-product__img1 {
	margin: 30px;
	margin-left: auto;
	position: relative;
}
.new-product__description {
	margin-top: -16px;
}
.new-product__description__top {
	margin-top: 14px;
	text-align: center;
}
.name {
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: bold;
	margin-right: 29px;
	letter-spacing: 0.5px;
}
.new-product__description__bot {
	text-align: center;
	margin-top: -2px;
}
.dollar {
	font-family: 'Cormorant Garamond';
	font-size: 20px;
	margin-right: 25px;
	font-weight: bold;
	color: #d6ba8d;
	letter-spacing: 1px;
}
.button-add {
	position: absolute;
	bottom: 8px;
	left: 1px;
	display: flex;
	a {
		font-size: 14px;
		font-family: "Fira Sans";
		text-transform: uppercase;
		background-color: #d6ba8d;
		color: #fff;
		padding: 13px 31px;
		font-weight: bold;
		letter-spacing: 0.5px;
		&:hover {
			text-decoration: none;
			color: #333;
		}
	}
	.add-icon {
		a {
			font-size: 14px;
			color: #cccccc;
			background-color: #595959;
			padding: 13px 12px;
		}
	}
}
.add-icon {
	color: #cccccc;
	.fas {
		font-size: 14px;
	}
}
.blog {
	height: auto;
	background-color: #faf9f9;
	margin-top: 108px;
	position: relative;
}
.blog-title {
	font-size: 54px;
	letter-spacing: 1px;
	color: #333333;
	font-weight: Bold;
	text-align: center;
	font-family: 'Cormorant Garamond';
	margin-top: -34px;
}
.blog-contents {
	margin-top: 75px;
	max-width: 1170px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.blog-content {
	width: 370px;
	height: 460px;
	margin-right: 30px;
	background-color: #fff;
}
.blog-content__description
{
	margin: 26px 0px 0px 0px ;
}
.blog-content__description2 {
	margin: 20px;
	font-family: 'Cormorant Garamond';
	font-size: 24px;
	font-weight: bold;
	margin: 19px 0px 0px 32px;
	letter-spacing: 1.2px;
	line-height: 33.5px;
	border-bottom: solid 1px #c0c0c0;
	padding-bottom: 49px;
}
.blog-content__description1 {
	font-family: "Fira Sans";
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	padding-left: 34px;
/* 	padding-top: 25px; */
	a {
		color: #cccccc;
	}
}
.blog-content__description3 {
	padding-left: 10px;
	margin-top: -44px;
	display: flex;
	i {
		padding: 64px 0px 0px 17px;
	}
	a {
		font-family: 'Fira Sans';
		margin-right: 26px;
		color: #696969;
		margin-left: 11px;
		font-size: 14px;
	}
	.fas {
		color: #92c5d9;
		font-size: 14px;
	}
}
.blog-content__description3__icon1 {
	margin-right: -19px;
}
.goto {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 59px;
	padding-bottom: 99px;
}
.gotoblog {
	a {
		font-family: 'Cormorant Garamond';
		font-size: 24px;
		text-align: center;
		color: #333333;
		background-color: #fff;
		&:hover {
			color: #d2b78b;
			text-decoration: none;
		}
	}
}
.under-blog {
	max-width: 1920px;
	height: 100%;
	width: 100%;
	margin-top: 438px;
}
.under-blog-pic {
	img {
		width: 100%;
	}
}
.font-footer {
	max-width: 1170px;
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding-top: 14px;
	box-sizing: border-box;
}
.footer {
	background-color: #333333;
	max-width: 1920px;
	height: 100%;
	margin-left: 3px;
	width: 100%;
}
.font-footer__pic {
	width: 16.66%;
	height: 100%;
	margin-right: 30px;
}
.main-footer {
	display: flex;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	justify-content: space-between;
}
.nav {
	ul {
		display: flex;
		width: 100%;
		justify-content: center;
		align-self: center;
		margin-bottom: 4px;
		li {
			width: fit-content;
			text-align: center;
			list-style: none;
			a {
				font-family: 'Fira Sans';
				font-size: 15px;
				color: #ababab;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 1.5px;
				margin: 30px 26px 30px 4px;
				&:hover {
					text-decoration: none;
					color: #d2b78b;
				}
			}
		}
	}
}
.button-sub {
	display: flex;
	margin: 122px 5px;
	a {
		text-decoration: none;
		margin: 19px -2px;
		color: #ababab;
		font-family: "Fira Sans";
		font-size: 14px;
		font-weight: bold;
		border: 1px solid;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		padding: 9px 18px;
		&:hover {
			text-decoration: none;
			color: #8262b5;
		}
	}
	.fas {
		color: #ccb287;
		font-size: 14px;
		padding-left: 10px;
	}
}
.line-footer {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.footer-bot {
	display: flex;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	box-sizing: border-box;
	margin-top: -50px;
	padding-bottom: 70px;
}
.content-footer {
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: bold;
	color: #696969;
	margin: 19px 0px 0px -2px;
	line-height: 29px;
}
.logo-footer {
	display: flex;
	margin-right: 8px;
}
.logo-flex {
	margin-top: 17px;
	a {
		border-radius: 50%;
		background-color: #333;
		border: 1px solid #fff;
		margin: 2px;
		padding: 9px 17px 14px 17px;
		&:hover {
			background-color: #ccb287;
			color: #333;
		}
	}
	.fab {
		font-size: 14px;
		color: #cccccc;
	}
}
.responsive-nav {
	display: none;
	align-self: center;
	width: 33.33%;
	justify-content: center;
	cursor: pointer;
}
.sidenav {
	height: 0;
	width: 100%;
	z-index: 1;
	position: sticky;
	background-color: #111;
	opacity: 0.7;
	overflow-x: hidden;
	transition: 0.5s;
	text-align: center;
	li {
		list-style: none;
		a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #333;
			display: block;
			transition: 0.3s;
		}
	}
	a {
		&:hover {
			color: #f1f1f1;
		}
	}
}
.bar1 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}
.bar2 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}
.change {
	.bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.bar2 {
		opacity: 0;
	}
	.bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}
.responsive-logo {
	display: none;
	align-self: center;
	width: 33.33%;
	justify-content: center;
}

@media screen and (max-width: 1329px) {
	.anh-banner img{
		width: 100%;
		height: 100%;
	}
	.started {
		width: 80%;
	}
	 .product-top {
		 flex-direction: column;
	 } 
	 .product-top__left {
		display: none;
	}
	.product-top__middle {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.product-top__right{
		display: none;
	}
	.product-bot__right{
		display: none;
	}
	.product-bot {
		width: 60%;
	} 
	.feature {
		width: 68%;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
	}
	.feature-item {
		width: 100%;
	}
	.view {
		width: 32%;
	}
	.introduce-product {
		width: 60%;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.introduce-product-row1 {
		display: block;
	}
	.introduce-product-row2 {
		display: block;
		margin-top: -3px;
	}
	.responsive-logo {
		display: flex;
		margin-top: -94px;
	}

	.main-footer {
		.logo {
			display: none;
		}
		.nav {
			display: none;
		}
	}
	.responsive-nav {
		display: inline-block;
		>div {
			width: 35px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.line-footer {
		width: 100%;
	}
	.footer-bot {
		width: 90%;
		display: flex;
	}
	.under-blog {
		width: 100%;
	}
	.under-blog-pic {
		img {
			width: 100%;
		}
	}
	.gotoblog {
		align-items: center;
	}
}
@media screen and (max-width: 1129px) {
	.started {
		margin-left: auto;
	}
	.product-top {
		flex-direction: column;
	} 
	.product-top__left {
	   display: none;
   }
   .product-top__middle {
	   width: 90%;
	   margin-left: auto;
	   margin-right: auto;
   }
   .product-top__right{
	   display: none;
   }
   .product-bot__right{
	   display: none;
   }
   .product-bot {
	   width: 90%;
   } 
	.introduce-product {
		width: 70%;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.introduce-product-row1 {
		display: block;
	}
	.introduce-product-row2 {
		display: block;
		margin-top: -3px;
	}
	.blog-contents {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.blog-content {
		display: flex;
		width: fit-content;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
	}
	.feature {
		width: 100%;
		display: block;
	}
	.view {
		margin: initial;
	}
	.font-footer{
		display: none;
	}
}
@media screen and (max-width: 885px) {
	.under-banner {
		display: none;
	}
	.started {
		display: none;
	}
	.content-footer {
		display: none;
	}
	.logo-footer {
		margin-left: auto;
		margin-right: auto;
	}
	.content-margin {
		display: none;
	}
	.into-blog {
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
}
