@orange:#d2b78b;
@white: #fff;
@black: #333;
@font-face {
	font-family: 'Fira Sans';
	src: url(../font/Fira_Sans);
}
@font-face {
	font-family:'Cormorant Garamond' ;
	src: url(../font/comorant-font);
}
* {
	margin: 0;
	padding: 0;
}
.wrap {
	width: 100%;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.header{
	width: 100%;
}
.header-img{
	width: 100%;
	position: relative;
}
.header-img img{ 
	max-width: 1920px;
	width: 100%;
}

.discover a{
    left: 20%;
	transform: translateX(-5%);
    bottom: 29%;
	position: absolute;
    color: @white ;
    background-color: @black;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Fira Sans';
    font-weight: bold;
    letter-spacing: 2.5px;
    width: 100%;
    height: 49px;
    max-width: 198px;
    align-items: center;
    padding: 10px 0;
	cursor: pointer;
}
.discover a:hover{
	text-decoration: none;
	color: @orange;
}
.logo-header{
	position: absolute;
	top:4%;
	right: 10%;
	transform: translateX(56%);
}
.logo-header svg{
	color: @white ;
	width: 25px;
	height: 29px;
}
.so {
	background-color: @white ;
	border-radius: 50%;
	color: @black;
	padding: 0px 6px;
	font-size: 10px;
    font-weight: bold;
	position: absolute;
	margin: -2px 0px 0px -8px;
  }
.logo-header svg:hover{
	transition: 0.5s;
	color: red;
}
.bar-header {
	position: absolute;
	top:4%;
	right: 6%;
	transform: translate(11%,7%);
	color: @white ;
}
.header-text{
	position: absolute;
	top: 34%;
    left: 30%;
    transform: translateX(-25%);
}
.header-text h10{
	font-family:'Fira Sans';
	font-size: 24px;
	letter-spacing: 12px;
	word-spacing: 3px;
	font-weight: 400;
}
.header-text p{
	font-family:'Cormorant Garamond';
	font-weight: 500;
	font-size: 100px;
	word-spacing: 3px;
	letter-spacing: 30px;
	font-style: italic;
	padding-top: 25px;
	line-height: 103px;
	text-transform: uppercase;
}
.right-banner {
	margin-left: auto;
}
.menu-doc{
	position: absolute;
	top: 43%;
	right: 5%;
	transform: translate(0%,-4%);
}
.menu-doc li{
	list-style: none;
	text-align: right;
}
.menu-doc ul li::before{
	content: '';
	position: absolute;
	width: 100%;
	max-width: 70px;
	height: 1px;
	background-color: @black;
	left:100%;
	right:0;
	margin-top: 21px;
	opacity: 0;
}
.menu-doc ul li:hover::before{
	opacity: 1;
}
.menu-doc a{
	font-family:'Cormorant Garamond';
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 3px;
	color: @white ;
	line-height: 40px;
	opacity: 30%;
}
.menu-doc a:hover{
	opacity: 100%;
	color: @white ;
	text-decoration: none;
	border: 1px;
}
.under-banner {
	height: 100%;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	max-width: 1170px;
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
}
.under-banner-text {
	width: 33.33%;
	height: 100%;
	background-color: @white ;
}
.under-banner :hover{
	background: @orange;
}
.under-banner-text__top {
	.p1 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 23.5px;
		margin-left: 5px;
		margin-top: 1px;
		line-height: 25px;
	}
	.p2 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 0.5px;
		margin-left: 5px;
		margin-top: 1px;
		line-height: 25px;
	}
	.p3 {
		font-family: 'Cormorant Garamond';
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 8.5px;
		margin-left: 5px;
		margin-top: 1px;
	}
}
.under-banner-text__bot {
	h1 {
		font-family: 'Fira Sans';
		font-size: 14px;
		text-align: center;
		line-height: 0px;
		margin-right: 17px;
		color:#cfcfcf
	}
	h2 {
		font-family: 'Fira Sans';
		font-size: 14px;
		text-align: center;
		line-height: 0px;
		margin-right: -4px;
		color:#cfcfcf;
	}
}
.Its {
	width: 100%;
	height: 100%;
}
.Its-started {
	font-family: 'Cormorant Garamond';
	font-size: 34px;
	font-weight: Bolder;
	text-align: center;
	margin-top: 121px;
}
/* .product {
    width: 100%;
    height: auto;
    margin-top: 121px;
    margin-bottom: 111px;
} */
.product{
	padding: 0 15px;
	width: 100%;
}
.product-top {
	margin-top: 121px;
    margin-bottom: 50px;
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
	width: 100%;
}
.product-top img{
	width: 100%;
}
/* .product-bot img{
    width: 100%
} */  
.product-top--left{
    position: relative;
    max-width: 392px;
    width: 22.790697674%;
    height: 100%;
}
.product-top--left__text{
    position: absolute;
	bottom: 0%;
    transform: translateX(-50%);
    left: 50%;
}
.product-top--left__text h3{
    font-family: 'Fira Sans';
    font-size: 24px;
    padding-bottom: 8px;
    word-spacing: 6px;
}
.product-top--left__text p{
        font-family: 'Cormorant Garamond';
    font-size: 25px;
    font-weight: bold;
    color: @orange;
    /* padding: 10px 16px; */
    /* align-content: center; */
    text-align: center;
	padding-bottom: 15px;
} 
.product-top--middle{
    position: relative;
    max-width: 834px;
    width: 48.488372093%;
    height: 100%;
}
.product-top--middle__text{
    position: absolute;
	transform: translate(0%, 2%);
    top: 23%;
    right: 9%
}
.product-top--middle__text h4{
    font-family: 'Fira Sans';
    font-size: 22px;
    letter-spacing: 2.2px;
    text-align: center;
    padding-bottom: 8px;
}
.product-top--middle__text p{
    font-family: 'Cormorant Garamond';
    font-size: 100px;
    font-weight: bold;
    word-spacing: 10px;
    margin-top:-25px;
    text-align: center;
}
.product-top--middle__text h5{
    font-family: 'Cormorant Garamond';
    font-size: 24px;
    font-weight: bold;
    margin-top: -18px;
}
.product-top--middle__text h6{
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    /* word-spacing: 7px; */
    letter-spacing: 2.3px;
    margin-top: 64px;
    
}
.product-top--right{
    position: relative;
    max-width: 390px;
    width: 22.674418604%;
    height: 100%;
}
.product-top--right__text{
    position:absolute;
	transform: translate(3%, 3%);
    bottom: 8%;
    left: 10%;
}
.product-top--right__text h7{
    font-family: 'Fira Sans';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.product-top--right__text p{
    font-family: 'Cormorant Garamond';
    font-size: 70px;
    font-weight: bold;
    color: @orange;
    margin-top: 4px;
    word-spacing: 21px;
}

.product-top--img .left{
    position: relative;
}
.product-bot img{
	width: 100%;
}
.product-bot {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
/* .product-bot img{
    width: 100%;
} */
.product-bot--left{
    max-width: 392px;
    width: 22.790697674%;
    height: 100%;
}
.product-bot--middle{
    position: relative;
    max-width: 390px;
    width: 22.674418604%;
    height: 100%;
}
.product-bot--right{
    position: relative;
    max-width: 835px;
    width: 48.488372093%;
    height: 100%;
}
.product-bot--middle__text{
    position: absolute;
	bottom: 0%;
    left: 32%;
    transform: translateX(-22%);
    
}
.product-bot--middle__text h8{
    font-family: 'Fira Sans';
    font-size: 24px;
    padding-bottom: 10px;
    word-spacing: 0.9px;
    letter-spacing: 1px;
}
.product-bot--middle__text p{
        font-family: 'Cormorant Garamond';
    font-size: 21px;
    font-weight: 500;
    color: @orange;
     padding: 15px 8px;
     letter-spacing: 1px; 
     text-align: center;
}
.product-bot--right__text{
    position: absolute;
    top:21%;
    left: 4% ;
    transform: translate(7%,14%);
}
.product-bot--right__text h9{
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 10px;
}
.product-bot--right__text p{
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    font-weight: bold;
    margin-top: -15px;
}
.main-contents{
	width: 100%;
	max-width: 1920px;
	padding: 0 15px;
}
.main-content {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 109px;
}
.main-content-feature {
	width: 100%;
	height: 100%;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main-content-feature__feature-item {
	font-family: 'Cormorant Garamond';
	font-size: 56px;
	font-weight: Bold;
}
.main-content-feature__view {
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: Bold;
	text-transform: uppercase;
	align-self: center;
	margin-left: auto;
	letter-spacing: 2px;
	margin-top: 30px;
	i {
		color: #d6ba8d;
		font-size: 14px;
		margin: 5px 8px;
	}
}
.main-content-feature__view a{
    color: @black;
}
.main-content-feature__view a:hover{
    color: #d6ba8d;
}
.introduce{
	width: 100%;
	padding: 0 15px;
}
.introduce-product {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 58px;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 821px;
}

.new-product {
    width: 23%;
}
.new-product__img {
    width: 100%;
    height: auto;
    position: relative;
}
.new-product__img img {
	width: 100%;
}
.new-product__description__top {
    margin-top: 0px;
    margin-left: 30px;
}
.new-product__description {
    margin-top: 13px;
    text-align: center;
}
.name {
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: bold;
    margin-right: 29px;
    letter-spacing: 0.5px;
}
.new-product__description__bot {
    margin-left: 2px;
    margin-top: 0px;
}
.dollar {
    font-family: 'Cormorant Garamond';
    font-size: 20px;
    font-weight: bold;
    color: #d6ba8d;
}
.new-product .button-add{
	opacity: 0;
}
.new-product:hover .button-add{
	opacity: 1;
}
.button-add {
    position: absolute;
    bottom: 11px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	width: 100%;
    a {
        font-size: 14px;
        font-family: 'Fira Sans';
        text-transform: uppercase;
        background-color: #d6ba8d;
        color: @white ;
        padding: 13px 31px;
        font-weight: bold;
        letter-spacing: 0.5px;
        &:hover {
            text-decoration: none;
            color: @black;
        }
    }
    .add-icon {
        a {
            font-size: 14px;
            color: #cccccc;
            background-color: #595959;
            padding: 13px 12px;
        }
    }
}
.add-icon {
    color: #cccccc;
    .fas {
        font-size: 14px;
    }
}
.next {
    font-size: 20px;
    position: absolute;
    z-index: 12;
    top: 47%;
    right: 3%;
    transform: translate(-10%, -50%);
    padding-left: 10px;
    cursor: pointer;
    background-color: #f3f2f2;
    border: none;
  }
.prev {
      font-size: 20px;
    position: absolute;
    z-index: 12;
    top: 47%;
    left: 4%;
    padding-right: 5px;
    transform: translate(-10%, -50%);
    cursor: pointer;
    background-color: #f8f7f7;
    border: none;
  }

.blog {
	width: 100%;
	max-width: 1920px;
	height: auto;
	background-color: #faf9f9;
	margin-top: 90px;
	position: relative;
	padding: 0 15px;
}
.blog-title {
	position: absolute;
    font-size: 54px;
    letter-spacing: 1px;
    color: @black;
    font-weight: Bold;
    text-align: center;
    font-family: 'Cormorant Garamond';
    top: 0%;
    left: 50%;
	transform: translateX(-50%);
}
.blog-title p{
	margin: 0;
	line-height: 0;
}
.blog-contents {
	max-width: 1170px;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
 	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-top: 112px;
}
.blog-content {
	background-color: @white ;
	height: 100%;
    width: 31.62393162393162%;
	max-width: 370px;
	/* height: 460.8px; */
}

.blog-content img{
	width: 100%;
}

.blog-content__description
{
	margin: 26px 0px 22px 0px ;
	max-width: 370px;
	height: auto;
	width: 100%;
}
.blog-content__description2 {
	margin: 20px;
	font-family: 'Cormorant Garamond';
	font-size: 24px;
	font-weight: bold;
	margin: 19px 0px 0px 32px;
	letter-spacing: 1.2px;
	line-height: 33.5px;
	padding-bottom: 49px;
}
.blog-content__description1 {
	font-family: 'Fira Sans';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	padding-left: 34px;
/* 	padding-top: 25px; */
	a {
		color: #cccccc;
	}
}
.blog-content__description3 {
	padding-left: 10px;
	margin-top: -44px;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	i {
		padding: 64px 0px 0px 17px;
	}
	a {
		font-family: 'Fira Sans';
		margin-right: 26px;
		color: #696969;
		margin-left: 11px;
		font-size: 14px;
	}
	.fas {
		color: #92c5d9;
		font-size: 14px;
	}
}
.blog-content__description3__icon1 {
	margin-right: -19px;
}
.goto {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 59px;
	padding-bottom: 99px;
}
.gotoblog {
	a {
		font-family: 'Cormorant Garamond';
		font-size: 24px;
		text-align: center;
		color: @black;
		background-color: @white ;
		&:hover {
			color: @orange;
			text-decoration: none;
		}
	}
}
.under-blog {
	max-width: 1920px;
	height: 100%;
	width: 100%;
	margin-top: 438px;
}
.under-blog-pic {
	img {
		width: 100%;
	}
}
.logo-font-footer{
	width: 100%;
	padding: 0 15px;
}
.font-footer {
	max-width: 1170px;
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	margin: 0 auto;
	padding-top: 14px;
	box-sizing: border-box;
	justify-content: space-between;
	cursor: pointer;
}
.font-footer__pic {
	width: 14.529914529%;
	height: 100%;
	opacity:30%;
	max-width: 170px;
} 
.font-footer__pic img{
	width: 100%;
}
.font-footer__pic:hover{
	opacity: 100%;
	transition: 0.5s;
	
}
.footer {
	background-color: @black;
	max-width: 1920px;
	height: 100%;
	width: 100%;
	padding: 0 15px;
}
.main-footer {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	justify-content: space-between;
}
.nav {
	ul {
		display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
		width: 100%;
		justify-content: center;
		align-self: center;
		margin-bottom: 4px;
		padding-top: 77px;
		li {
			width: fit-content;
			text-align: center;
			list-style: none;
			a {
				font-family: 'Fira Sans';
				font-size: 14px;
				color: #ababab;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 1.5px;
				margin: 30px 26px 30px 6px;
				&:hover {
					text-decoration: none;
					color: @orange;
					cursor: pointer;
				}
			}
		}
	}
}
.button-sub {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	margin: 120px 3px;
	a {
		text-decoration: none;
		margin: 21px -2px;
		color: #ababab;
		font-family: 'Fira Sans';
		font-size: 14px;
		font-weight: bold;
		border: 1px solid;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		padding: 9px 18px;
		&:hover {
			text-decoration: none;
			color: #8262b5;
		}
	}
	.fas {
		color: #ccb287;
		font-size: 14px;
		padding-left: 10px;
	}
}
.line-footer {
	color: @white ;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 72px;
}
.footer-bot {
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	box-sizing: border-box;
	margin-top: -50px;
	padding-bottom: 70px;
}
.content-footer {
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: bold;
	color: #696969;
	margin: 19px 0px 0px -2px;
	line-height: 29px;
}
.logo-footer {
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	margin-right: 4px;
}
.logo-flex {
	margin: 19px -4px 0px 12px;
	a {
		border-radius: 50%;
		background-color: @black;
		border: 1px solid @white ;
		padding: 13px;
		&:hover {
			background-color: #ccb287;
			color: @black;
		}
	}
	i {
		font-size: 17px;
		color: #cccccc;
		width: 21px;
		text-align: center;
	}
}
@media screen and (max-width: 1400px){
	.discover a{
		left: 20%;
		transform: translateX(-5%);
		bottom: 18%;
	}
}
@media screen and (max-width: 1329px){
	.menu-doc ul li::before{
		content: '';
		position: absolute;
		width: 50%;
		max-width: 70px;
		height: 1px;
		background-color: @black;
		left:100%;
		right:0;
		margin-top: 21px;
		opacity: 0;
	}
}
@media screen and (max-width: 1129px) {
	.menu-doc ul li::before{
		width: 40%;
	}
	.header-text{
		p{
			font-size: 50px;
			line-height: 100px;
		}
	}
	.product{
		margin-left: auto;
		margin-right: auto;
	}
	.product-top{
		flex-wrap: wrap;
		row-gap: 20px;
		width: 100%;
	}
	.product-top--left{
		order: 1;
		width: 48%;
        max-width: none
	}
	.product-top--middle{
		order: 0;
		width: 100%;
        max-width: none
	}
	.product-top--right{
		order: 2;
		width: 48%;
        max-width: none
	}
	.product-bot{
		width:100%;
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.product-bot--left{
		order: 1;
		width: 48%;
		max-width: none;
	}
	.product-bot--middle{
		order: 2;
		width: 48%;
		max-width: none;
	}
	.product-bot--right{
		order: 0;
		width: 100%;
		max-width: none;
	}
	.introduce-product{
		flex-wrap: wrap;
		row-gap: 20px;
		width: 100%;
	}
	.new-product{
		width: 48%;
	}
	.new-product__img img{
		width: 100%;
	}
	.button-add{
		width: 100%;
	}
	.blog-contents{
		width: 100%;
		flex-wrap: wrap;
	}
	.blog-content{
		width: 31%;
	}
	
}
@media only screen and (max-width: 885px){
	.menu-doc ul li::before{
		width: 30%;
	}
	.header-text{
		top: 13%;
        left: 35%;
        transform: translateX(-25%);
	}
	.logo{
		display: none;
	}
	.nav{
		order: 1;
        display: block;
        position: absolute;
        margin-top: 92px;
		padding-top: 10px;
		margin-left: 141px;
	}
	.subcrise{
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.button-sub{
		margin: auto;
	}
	.content-footer{
		order: 1;
		position: absolute;
	}
	.logo-footer{
		margin-top: -169px;
        margin-left: auto;
        margin-right: auto
	}
	.content-footer{
		left: 50%;
        margin-top: -63px;
        transform: translateX(-50%);
	}
	.content-footer p{
		text-align: center;
	}
}
@media screen and (max-width: 750px){
	.header-text{
		h10{
			font-size: 15px;
		}
		p{
			font-size: 35px;
			line-height: 73px;
		}
	}
	.product-top--middle__text {
		top: 26%;
		left: 65%;
		p {
			font-size: 65px;
		}
		h4{
			font-size: 16px;
		}
		h5 {
			font-size: 18px;
		}
		h6 {
			font-size: 16px;
			margin-top: 15px;
		}
	}
	.product-top--left__text{
		h3{
			font-size: 20px;
		}
	}
	.product-bot--middle__text{
		h8{
			font-size: 19px;
		}
	}
	.product-bot--right__text{
		top:10%;
		left: 2%;
	}
	.logo{
		display: none;
	}
	.nav{
		order: 1;
        display: block;
        position: absolute;
        margin-top: 92px;
		padding-top: 10px;
		margin-left: 68px;
	}
	.subcrise{
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.button-sub{
		margin: auto;
	}
	.content-footer{
		order: 1;
		position: absolute;
	}
	.logo-footer{
		margin-top: -169px;
        margin-left: auto;
        margin-right: auto
	}
	.content-footer{
		left: 50%;
        margin-top: -63px;
        transform: translateX(-50%);
	}
	.content-footer p{
		text-align: center;
	}
	.content-footer h10{
		font-size: 12px;
	}
	.content-footer p{
		font-size: 12px;
	}
}
@media screen and (max-width: 640px){
	.menu-doc ul li::before{
		width: 0%;
	}
	.header-text{
		h10{
			font-size: 15px;
		}
		p{
			font-size: 35px;
			line-height: 29px;
		}
	}
	.product-top--middle__text {
		top: 26%;
		left: 65%;
		p {
			font-size: 65px;
		}
		h4{
			font-size: 16px;
		}
		h5 {
			font-size: 16px;
		}
		h6 {
			font-size: 11px;
			margin-top: 15px;
		}
	}
	.product-top--left__text{
		h3{
			font-size: 19px;
		}
	}
	.product-bot--middle__text{
		h8{
			font-size: 17px;
		}
	}
	.product-bot--right__text{
		top:10%;
		left: 2%;
	}
	.blog-content{
		margin-bottom: 25px;
		height: auto;
		width: 100%;
		max-width: none;
	}
	.font-footer{
		flex-wrap: wrap;
		width: 100%;
	}
	.font-footer__pic{
		width: 30%;
	}
	.logo{
		display: none;
	}
	.nav{
		order: 1;
        display: block;
        position: absolute;
        margin-top: 92px;
		padding-top: 10px;
		margin-left: 28px;
	}
	.nav ul li a{
		font-size: 12px;
	}
	.subcrise{
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.button-sub{
		margin: auto;
	}
	.content-footer{
		order: 1;
		position: absolute;
	}
	.logo-footer{
		margin-top: -169px;
        margin-left: auto;
        margin-right: auto
	}
	.content-footer{
		left: 50%;
        margin-top: -63px;
        transform: translateX(-50%);
	}
	.content-footer p{
		text-align: center;
	}
	.content-footer h10{
		font-size: 12px;
	}
	.content-footer p{
		font-size: 12px;
	}
}
@media screen and (max-width: 540px){
	.header-text{
		h10{
			font-size: 15px;
		}
		p{
			font-size: 26px;
			letter-spacing: 15px;
			line-height: 40px;
		}
	}
	.menu-doc a{
		font-size: 10px;
		line-height: 15px;
	}
	.under-banner{
		display: none;
	}
	.Its{
		display: none;
	}
	.product{
		margin-top: -95px;
	}
	.product-top--middle__text {
		top: 26%;
		left: 65%;
		p {
			font-size: 58px;
		}
		h4{
			font-size: 14px;
		}
		h5 {
			font-size: 13px;
		}
		h6 {
			font-size: 9px;
			margin-top: 15px;
		}
	}
	.product-top--left__text{
		h3{
			font-size: 15px;
		}
	}
	.product-bot--middle__text{
		h8{
			font-size: 13px;
		}
	}
	.product-bot--right__text{
		top:2%;
		left: 2%;
	}
	.blog-title p{
		font-size: 32px;
	}
	.nav ul li a{
		font-size: 8px;
	}
	.content-footer h10{
		font-size: 9px;
	}
	.content-footer p{
		font-size: 9px;
	}
}
@media screen and (max-width: 440px){
	.header-text{
		h10{
			font-size: 11px;
			letter-spacing: 2px;
		}
		p{
			font-size: 22px;
			letter-spacing: 12px;
			line-height: 17px;
		}
	}
	.discover a{
		font-size: 9px;
		width: 98px;
		height: 30px;
	}
	.product{
		margin-top: -95px;
	}
	.product-top--left{
		width: 100%;
	}
	.product-top--right{
		width: 100%;
	}
	.product-bot--left{
		width: 100%;
	}
	.product-bot--middle{
		width: 100%;
	}
	.product-top--middle__text {
		top: 26%;
		left: 65%;
		p {
			font-size: 50px;
		}
		h4{
			font-size: 11px;
		}
		h5 {
			font-size: 12px;
		}
		h6 {
			font-size: 7px;
			margin-top: 15px;
		}
	}
	.product-bot--right__text{
		top:-4%;
		left: 2%;
	}
	.new-product{
		width: 100%;
	}
	.font-footer{
		display: none;
	}
	.nav ul li a{
		font-size: 9px;
		margin: 0px -15px 0px 27px;
	}
	.content-footer h10{
		font-size: 8px;
	}
	.content-footer p{
		font-size: 8px;
	}
}
@media screen and (max-width: 375px)
{
	.product-top--middle__text {
		top: 26%;
		left: 65%;
		p {
			font-size: 45px;
		}
		h4{
			font-size: 7px;
		}
		h5 {
			font-size: 9px;
		}
		h6 {
			font-size: 7px;
			margin-top: 7px;
		}
	}
	.product-bot--right__text{
		top:13%;
		left: 2%;
		h9{
			font-size: 25px;
		}
		p{
			font-size: 25px;
		}
	}
	.main-footer .nav{
		display: none;
	}
	.content-footer h10{
		font-size: 13px;
	}
	.content-footer p{
		font-size: 15px;
	}
}
